# See http://help.github.com/ignore-files/ for more about ignoring files.

# -- dependencies:
/node_modules

# -- generated output:
/dist
/package
/docs/typedoc
*.map
*.tgz

# -- temporary files:
*.log
npm-debug.log*

# -- IDEs and editors
/.vscode

