!/dist

# -- generated output:
*.ts
!*.d.ts
*.js.map
*.spec.js
*.spec.ts
*.spec.d.ts
*.spec.js.map
*.tgz

# -- dependencies:
/node_modules

# -- temporary files:
*.log
npm-debug.log*

# -- IDEs and editors
/.vscode
